<div id="homepage-container">
  <div id="logo">Fossil Findr</div>
  <% if user_signed_in? %>
    <%= link_to 'Logout', logout_path, method: :delete %>
  <% else %>
    <%= link_to 'Login', login_path %>
    <%= link_to 'Signup', signup_path %>
  <% end %>

  <% if !current_user || !current_user.is_admin %>

    <div id="fossil-container">Fossils:
      <% @fossils.each do |fossil| %>
        <%= image_tag fossil.photo(:thumb) %>
        <%= fossil.description %>
        <%= fossil.location %>
        <%= link_to 'View', user_submission_path(user_id: fossil.user_id, id: fossil.id) %>
      <% end %>
    </div>

    <div id="not_fossil-container">Not Fossils:
      <% @not_fossils.each do |not_fossil| %>
        <%= image_tag not_fossil.photo(:thumb) %>
        <%= not_fossil.description %>
        <%= not_fossil.location %>
        <%= link_to 'View', user_submission_path(user_id: not_fossil.user_id, id: not_fossil.id) %>
      <% end %>
    </div>
  <% end %>

  <% if current_user && current_user.is_admin %>
    <div id="undetermined-container">
    <% if @undetermined.empty? %>
      <p>You have no more submissions to review!</p>
    <% else %> 
      Potential Fossils to Review:
    <% end %>
      <% @undetermined.each do |tbd| %>
        <%= tbd.date.strftime("%b %-d, %Y") %>
        <%= image_tag tbd.photo(:thumb) %>
        <%= tbd.description %>
        <%= link_to 'View', user_submission_path(user_id: tbd.user_id, id: tbd.id) %>
        <%= link_to 'Edit', edit_user_submission_path(user_id: tbd.user_id, id: tbd.id) %>
      <% end %>
    </div>
    <%= link_to 'Admin Rights', users_path, method: :get %>
  <% end %>

</div>
