<div class="ui row">
  <div class="ui fourteen wide centered column">
    <div class="ui three cards">
      <% @submissions.each do |submission| %>
        <div class="ui centered teal card">
          <div class="image" style="background-image: url(<%= submission.photo(:medium) %>)">
            
          </div>
          <div class="center aligned content">
            <div class="header aligned center">
              <%= submission.location %>
            </div>
            <div class="meta">
              <%= link_to 'View', user_submission_path(user_id: submission.user_id, id: submission.id), class: 'ui teal small button' %>
              <% if current_user && current_user.is_admin %>
                <%= link_to 'Edit', edit_user_submission_path(user_id: submission.user_id, id: submission.id), class: 'ui orange small button' %>
                <%= link_to 'Delete', user_submission_path(user_id: submission.user_id, id: submission.id), method: :delete, data: {confirm: 'Are you absolutely sure you would like to delete?'}, class: 'ui red small button' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
